.frmRightSide .rightSideFrm {
  padding-left: 0 50px;
  text-align: left;
  margin-top: 42px;
}
.otp_input-box {
  background: #f1f1f1;
  border: 1px solid #dddddd;
  border-radius: 5px;
  width: 50.29px;
  height: 54.53px;
}
.form-control {
  padding: 10px;
}
